<%- include('partials/_header') -%>
<%- include('partials/_nav') -%>
    <h1 class="title-section max-width">
        Conferencias
    </h1>
    <section class="speakers-section max-width">
        <article class="speaker-box">
            <div class="speaker-image">
                <img src="images/2x/Rodolfo-Talamantes@2x-100.jpg" alt="">
            </div>
            <div class="speaker-title-section">
                <p class="speaker-name">
                    Rodolfo Talamantes
                </p>
                <p class="conference-title">
                    Blockchain, Web3 y Descentralización
                </p>
            </div>
            <div class="speaker-curriculum">
                    <img src="images/SVG/PrivaSee.svg" alt="" class="curriculum-image">
                    <p class="curriculum-text">
                        CEO de PrivaSee y Cofundador de la comunidad Blockchain Monterrey. <br><br>
                        PrivaSee lleva dos años de desarrollo, captado 8 millones MXN en
                        inversión nacional y extranjera.
                    </p>
            </div>
        </article>
        <article class="speaker-box">
            <div class="speaker-image">
                <img src="images/2x/Octavio-Jimenez@2x-100.jpg" alt="">
            </div>
            <div class="speaker-title-section">
                <p class="speaker-name">
                    Octavio Jimenez
                </p>
                <p class="conference-title">
                    Hackear la política
                </p>
            </div>
            <div class="speaker-curriculum">
                    <img src="images/SVG/MIT-Tech.svg" alt="" class="curriculum-image">
                    <p class="curriculum-text">
                    Cofundador y CEO de Arvolution, y cofundador y COO de Simplify. <br><br>
                    Nombrado el innovador más jóven de MIT Innovators Under 35 Latam,
                    por Technology Review.
                    </p>
            </div>
        </article>
        <article class="speaker-box">
            <div class="speaker-image">
                <img src="images/2x/Israel-Sotelo@2x-100.jpg" alt="">
            </div>
            <div class="speaker-title-section">
                <p class="speaker-name">
                    Israel Sotelo
                </p>
                <p class="conference-title">
                    ¿Por qué ser un profesional de la Seguridad de la Información?
                </p>
            </div>
            <div class="speaker-curriculum">
                    <img src="images/SVG/Cisco.svg" alt="" class="curriculum-image">
                    <p class="curriculum-text">
                        Presidente de la Asociación Mexicana de la Seguridad de la Información (AMSI).<br><br>
                        Primer latinoamericano en graduarse del programa Chief Information Security Officer.
                    </p>
            </div>
        </article>
        <article class="speaker-box">
            <div class="speaker-image">
                <img src="images/2x/Fernando-Mier-Hicks@2x-100.jpg" alt="">
            </div>
            <div class="speaker-title-section">
                <p class="speaker-name">
                    Fernando Mier-Hicks
                </p>
                <p class="conference-title">
                    Marte 2020: El nuevo rover de la NASA
                </p>
            </div>
            <div class="speaker-curriculum">
                    <img src="images/SVG/MIT.svg" alt="" class="curriculum-image">
                    <p class="curriculum-text">
                        Ing. en el Jet Propulsion Laboratory de la NASA. PHD
                        en Ing. Aeroespacial en el MIT.<br><br>
                        Desarrolla sistemas simulación para los lanzamientos a Marte en 2020.
                    </p>
            </div>
        </article>
        <article class="speaker-box">
            <div class="speaker-image">
                <img src="images/2x/Ramon-Morales@2x-100.jpg" alt="">
            </div>
            <div class="speaker-title-section">
                <p class="speaker-name">
                    Ramón Morales
                </p>
                <p class="conference-title">
                    El vórtice del cambio. Mega tendencias en el área de la alta tecnología 
                </p>
            </div>
            <div class="speaker-curriculum">
                    <img src="images/SVG/Intel.svg" alt="" class="curriculum-image">
                    <p class="curriculum-text">
                        Director de Innovación Intel Guadalajara Design Center. <br><br>
                        Vpdte. de Innovación por parte de la CANIETI, en 
                        conjunto con Intel busca fomentar el talento mexicano.
                    </p>
            </div>
        </article>
        <article class="speaker-box">
            <div class="speaker-image">
                <img src="images/2x/Edgar-Serrano@2x-100.jpg" alt="">
            </div>
            <div class="speaker-title-section">
                <p class="speaker-name">
                    Edgar Serrano
                </p>
                <p class="conference-title">
                    Nadie me dijo que siendo Licenciado no podía
                </p>
            </div>
            <div class="speaker-curriculum">
                    <img src="images/SVG/Lienzo.svg" alt="" class="curriculum-image">
                    <p class="curriculum-text">
                        Co-fundador del estudio de videojuegos Lienzo.<br><br>
                        Ha logrado llevar la idea de sus juegos a GDC, Indiecade,
                        Different Games, SxSW, PAX West, E3, y entre otros.
                    </p>
            </div>
        </article>
        <article class="speaker-box">
            <div class="speaker-image">
                <img src="images/2x/Beatris-Mendez@2x-100.jpg" alt="">
            </div>
            <div class="speaker-title-section">
                <p class="speaker-name">
                    Beatris Mendez
                </p>
                <p class="conference-title">
                    Un impulso a la nueva generación
                </p>
            </div>
            <div class="speaker-curriculum">
                    <img src="images/SVG/Azure.svg" alt="" class="curriculum-image">
                    <p class="curriculum-text">
                        Program Manager de Microsoft.<br><br>
                        Ejecuta las operaciones diarias de un servicio que realiza
                        la automatización del análisis estático para el código
                        fuente Azure, Bing y Skype.
                    </p>
            </div>
        </article>
    </section>
    <h1 class="title-section max-width">
        Talleres
    </h1>
    <section class="max-width workshop-section">
        <article class="workshop-box">
            <div>
            <img src="images/SVG/talleres/fotografia.svg" alt="" class="workshop-image">
            <p class="workshop-title">
                Fotografía
            </p>
            </div>
        </article>
        <article class="workshop-box">
            <div>
            <img src="images/SVG/talleres/horno-solar.svg" alt="" class="workshop-image">
            <p class="workshop-title">
                Horno Solar
            </p>
            </div>
        </article>
        <article class="workshop-box">
            <div>
            <img src="images/SVG/talleres/aeroplano.svg" alt="" class="workshop-image">
            <p class="workshop-title">
                Aeroplano
            </p>
            </div>
        </article>
        <article class="workshop-box">
            <div>
            <img src="images/SVG/talleres/maquinado.svg" alt="" class="workshop-image">
            <p class="workshop-title">
                Maquinado
            </p>
            </div>
        </article>
        <article class="workshop-box">
            <div>
            <img src="images/SVG/talleres/hidroponia.svg" alt="" class="workshop-image">
            <p class="workshop-title">
                Hidroponía
            </p>
            </div>
        </article>
        <article class="workshop-box">
            <div>
            <img src="images/SVG/talleres/lego-robotica.svg" alt="" class="workshop-image">
            <p class="workshop-title">
                Lego Robótica
            </p>
            </div>
        </article>
        <article class="workshop-box">
            <div>
            <img src="images/SVG/talleres/makey-makey.svg" alt="" class="workshop-image">
            <p class="workshop-title">
                Makey Makey
            </p>
            </div>
        </article>
        <article class="workshop-box">
            <div>
            <img src="images/SVG/talleres/ciencia-espacial.svg" alt="" class="workshop-image">
            <p class="workshop-title">
                Ciencia Espacial
            </p>
            </div>
        </article>
        <article class="workshop-box">
            <div>
            <img src="images/SVG/talleres/drones.svg" alt="" class="workshop-image">
            <p class="workshop-title">
                Drones
            </p>
            </div>
        </article>
        <article class="workshop-box">
            <div>
            <img src="images/SVG/talleres/desarrollo-app.svg" alt="" class="workshop-image">
            <p class="workshop-title">
                Desarrollando mi App
            </p>
            </div>
        </article>
        <article class="workshop-box">
            <div>
            <img src="images/SVG/talleres/edicion-video.svg" alt="" class="workshop-image">
            <p class="workshop-title">
                Edición de Video
            </p>
            </div>
        </article>
        <article class="workshop-box">
            <div>
            <img src="images/SVG/talleres/soldadura.svg" alt="" class="workshop-image">
            <p class="workshop-title">
                Soldadura
            </p>
            </div>
        </article>
        <article class="workshop-box">
            <div>
            <img src="images/SVG/talleres/snapchat.svg" alt="" class="workshop-image">
            <p class="workshop-title">
                Todo para Snapchat
            </p>
            </div>
        </article>
        <article class="workshop-box">
            <div>
            <img src="images/SVG/talleres/pcb.svg" alt="" class="workshop-image">
            <p class="workshop-title">
                PCB
            </p>
            </div>
        </article>
    </section>
    <h1 class="title-section max-width">
        Concursos
    </h1>
    <section class="contest-container">
        <section class="contest-section max-width">
            <article class="contest-box sigue-lineas">
                <div class="contest-image">
                    <img src="images/SVG/concursos/sigue-lineas.svg" alt="">
                </div>
                <div class="contest-title-section">
                    <p class="contest-name">
                    Sigue Líneas
                    </p>
                </div>
                <div class="contest-info">
                        <img src="images/SVG/concursos/fox-robotics.svg" alt="" class="curriculum-image">
                        <p class="contest-text">
                            ¡Inscríbete! El equipo ganador será acreedor a una 
                            beca de 100% de inscripción para el concurso de 
                            RoboMatrix 2020 en la ciudad de Guadalajara.
                        </p>
                </div>
            </article>
            <article class="contest-box innovacion">
                <div class="contest-image">
                    <img src="images/SVG/concursos/innovacion.svg" alt="">
                </div>
                <div class="contest-title-section">
                    <p class="contest-name">
                        Innovación y Diseño
                    </p>
                </div>
                <div class="contest-info">
                        <p class="contest-text">
                        ¡Participa! Forma tu equipo, genera una idea innovadora, desarróllala en
                        24 horas y ten la oportunidad de ganarte $10,000.00 pesos en efectivo.
                        <strong>¡No te lo pierdas!</strong>
                        </p>
                </div>
            </article>
        </section>
        <img src="images/2x/onda@2x.png" alt="" class="onda">
        <img src="images/2x/onda2@2x.png" alt="" class="onda2">
    </section>
<%- include('partials/_footer') -%>