<%- include('partials/_header') -%>
<%- include('partials/_nav') -%>
  <header id="Inicio">
      <section class="max-width">
        <span>Congreso de Ingeniería</span>
        <h1>TRASCENDENCIAS 2020</h1>
        <p>El Mundo es Nuestro</p>
        <p>14- 18 de Octubre</p>
        <a href="registro" class="button">
          Adquiere tu carnet
        </a>
      </section>
      <img src="images/2x/onda@2x.png" alt="" class="onda">
      <img src="images/2x/onda2@2x.png" alt="" class="onda2">
    </header>
    <a class="flex-row flex-center" id="scrolldown-arrow"
      href="#mensaje-section">
        <img src="images/1x/image-arrow.png" href="#mensaje-section">
    </a>
    <section class="width-100 flex-row flex-center" id="mensaje-section">
      <p>
          Sé parte de la experiencia que inspira a la próxima generación de
          ingenieros.
      </p>
      <span>
        2020
      </span>
    </section>
    <section class="max-width animate" id="conference-section">
      <div class="flex-column" id="conference-message">
        <h1>
          Sumerge tus ideas en nuevas perspectivas
        </h1>
        <p>
          6 Expositores de alto nivel
        </p>
        <a href="actividades" class="button">
          Ver más
        </a>
      </div>
      <div id="image-section-conference">
        <div>
          &nbsp;
        </div>
      </div>
    </section>
    <section class="max-width flex animate" id="actividades-section">
      <a href="actividades">
        <article>
          <h1 class="counter-value" data-count="3">0</h1>
          <h2>Eventos Sociales</h2>
        </article>
      </a>
      <a href="actividades">
        <article>
          <h1 class="counter-value plus" data-count="15">
            0
          </h1>
          <h2>Visitas a empresas</h2>
        </article>
      </a>
      <a href="actividades">
        <article>
          <h1 class="counter-value plus" data-count="14">
            0
          </h1>
          <h2>Talleres a escoger</h2>
        </article>
      </a>
      <a href="actividades">
        <article>
          <h1 class="counter-value" data-count="2">0</h1>
          <h2>Concursos</h2>
        </article>
      </a>
    </section>
    <section class="flex-column max-width animate" id="patrocinadores-section">
      <h1>Patrocinadores</h1>
      <div class="width-100 flex">
        <div class="patrocinador">
          <img src="images/2x/patrocinador1@2x.png" alt="">
        </div>
        <div class="patrocinador">
          <img src="images/2x/patrocinador5@2x.png" alt="">
        </div>
        <div class="patrocinador">
          <img src="images/2x/patrocinador3@2x.png" alt="">
        </div>
        <div class="patrocinador">
          <img src="images/2x/patrocinador4@2x.png" alt="">
        </div>
        <div class="patrocinador">
          <img src="images/2x/patrocinador7@2x.png" alt="">
        </div>
        <div class="patrocinador">
          <img src="images/2x/patrocinador6@2x.png" alt="">
        </div>
        <div class="patrocinador">
          <img src="images/2x/patrocinador2@2x.png" alt="">
        </div>
      </div>
    </section>
    <script src="js/functions-home.js"></script>
    <%- include('partials/_footer') -%>