<% Object.keys(messages).forEach(function (type) { %>
  <div class="message-container">
      <div class="<%= type %>" role="alert">
      <% messages[type].forEach(function (message) { %>
        <%= message %>
      <% }) %>
      </div>
  </div>
  <% }) %>
  