<% Object.keys(messages).forEach(function (type) { %>
  <div class="message-container">
      <div class="message <%= type %>" role="alert">
        <p>
          <% messages[type].forEach(function (message) { %>
            <%= message %>
          <% }) %>
        </p>
      </div>
  </div>
  <% }) %>
  