<%- include('partials/_header') -%>
<%- include('partials/_nav') -%>
<form action="/add" method="post" class="max-width" id="registro-section">
    <section class="registro">
      <h1>Regístrate</h1>
      <h3>Llena los campos con tu información.</h3>
      <div class="data_group">
        <div class="input_group">
          <input type="text" name="nombre" id="nombre" required placeholder=" ">
          <label for="nombre" class="form_label">
            Nombre
          </label>
        </div>
        <div class="input_group">
          <input type="text" name="apellidos" id="apellidos" required placeholder=" ">
          <label for="apellidos" class="form_label">
            Apellido(s)
          </label>
        </div>
        <div class="input_group">
          <input type="email" name="correo" id="correo" required placeholder=" ">
          <label for="correo" class="form_label">
            Correo
          </label>
        </div>
        <div class="input_group media_columna m_right_form">
          <input type="tel" name="telefono" id="telefono" required placeholder=" "
            onkeydown="javascript:backspacerDOWN(this,event);" 
            onkeyup="javascript:backspacerUP(this,event);" minlength="14" maxlength="14">
          <label for="telefono" class="form_label">
                Teléfono
            </label>
        </div>
        <div class="input_group media_columna">
          <input type="number" name="edad" id="edad" min="1" required placeholder=" ">
          <label for="edad" class="form_label">
            Edad
          </label>
        </div>
        <div class="input_group radio_group" id="genero">
          <p class="input_title">Sexo</p>
          <section>
            <div>
              <input type="radio" name="sexo" value="M" id="hombre" checked>
              <label for="hombre" class="radio_label">
                Hombre
              </label>
            </div>
            <div>
              <input type="radio" name="sexo" id="mujer" value="F">
              <label for="mujer" class="radio_label">
                Mujer
              </label>
            </div>
          </section>
        </div>
        <div class="input_group media_columna m_right_form">
          <input type="text" name="carrera" id="carrera" required placeholder=" ">
          <label for="carrera" class="form_label">
              Carrera
          </label>
        </div>
        <div class="input_group media_columna select_group">
          <select id="campus" name="campus">
            <option value="0" disabled selected>Selecciona</option>
            <option value="Preparatoria">Preparatoria</option>
            <option value="CetysMxl">Cetys Mexicali</option>
            <option value="CetysTj">Cetys Tijuana</option>
            <option value="CetysEns">Cetys Ensenada</option>
            <option value="Otro">Otro</option>
          </select>
          <p>Campus</p>
        </div>
        <div class="input_group media_columna m_right_form select_group">
          <select id="semestre" name="sem">
            <option value="0" disabled selected>Selecciona</option>
            <option value="1">Primero</option>
            <option value="2">Segundo</option>
            <option value="3">Tercero</option>
            <option value="4">Cuarto</option>
            <option value="5">Quinto</option>
            <option value="6">Sexto</option>
            <option value="7">Septimo</option>
            <option value="8">Octavo</option>
          </select>
          <p>Semestre</p>
        </div>
        <div class="input_group media_columna select_group">
          <select id="talla" name="talla">
            <option value="0" disabled selected>Selecciona</option>
            <option value="XS">XS</option>
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
          </select>
          <p>Talla</p>
        </div>
        <div class="input_group">
          <input type="text" name="alergias" id="alergias" placeholder=" ">
          <label for="name" class="form_label">
            ¿Tienes Alergias?
          </label>
        </div>
        <div class="input_group radio_group" id="vegetariano">
          <p class="input_title">¿Eres Vegetariano?</p>
          <section>
            <div>
              <input type="radio" name="veget" id="No_Vegetariano" value="No" checked>
              <label for="No_Vegetariano" class="radio_label">
                No
              </label>
            </div>
            <div>
              <input type="radio" name="veget" value="Si" id="Si_Vegetariano">
              <label for="Si_Vegetariano" class="radio_label">
                Sí
              </label>
            </div>
          </section>
        </div>
      </div>
      <h1>Método de Pago</h1>
      <h3>Elige la opción de pago adecuada para ti.</h3>
      <div class="payment_group">
        <h3>
          Paga con:
        </h3>
        <div class="input_group radio_group" id="tipo_pago">
          <section>
            <div class="paybox">
              <input type="radio" name="tipo" value="dep/efec" id="dep/efec" checked>
              <label for="deposito" class="radio_label">
                Deposito/Efectivo
              </label>
            </div>
            <h3>ó</h3>
            <div class="paybox">
              <input type="radio" name="tipo" id="paypal" value="paypal">
              <label for="paypal" class="radio_label">
                <img src="images/SVG/paypal.svg" alt="paypal" srcset="" id="paypal_image">
              </label>
            </div>
          </section>
        </div>
      </div>
    </section>
    <div class="cart_section">
      <aside id="shopping_cart">
        <article class="shopping_info">
          <h1>Carrito</h1>
          <section>
            <div class="shopping_data">
              <h3>1 x</h3>
            </div>
            <div class="shopping_data">
              <h3>Carnet de participante</h3>
              <h3>Trascendencias 2020</h3>
              <h3>$950.00 MXN</h3>
            </div>
          </section>
          <div class="shopping_total">
              <h2>Total</h2>
              <h3>$950.00 MXN</h3>
            </div>
        </article>
        <div class="shopping_options">
          <a href="index.html">
            Cancelar
          </a>
          <button type="submit" class="button" value="Continuar">
            Continuar
          </button>
        </div>
      </aside>
      <div id="box"></div>
    </div>
    <section class="shopping_total_mobile">
      <div>
        <h2>Total</h2>
        <h3>$950.00 MXN</h3>
      </div>
      <div class="shopping_options">
          <a href="index.html">
            Cancelar
          </a>
          <button type="submit" class="button" value="Continuar">
            Continuar
          </button>
        </div>
    </section>
</form>
<script src="js/functions-register.js"></script>
<%- include('partials/_footer') -%>