<%- include('partials/_header') -%>
<%- include('partials/_nav') -%>
<form action="/store" method="post">
  <div class="max-width">
    <div id="registro-section">
      <section class="registro">
        <h1>Regístrate</h1>
        <h3>Llena los campos con tu información.</h3>
        <div class="data_group">
          <div class="input_group">
            <input type="text" name="nombre" id="nombre" required placeholder=" "
              <% if(data) { %> value="<%= data[0] %>" <% } else { %> value = "" <%};%> >
            <label for="nombre" class="form_label">
              Nombre
            </label>
          </div>
          <div class="input_group">
            <input type="text" name="apellidos" id="apellidos" required placeholder=" "
              <% if(data) { %> value="<%= data[1] %>" <% } else { %> value = "" <%};%> >
            <label for="apellidos" class="form_label">
              Apellido(s)
            </label>
          </div>
          <div class="input_group">
            <input type="email" name="correo" id="correo" required placeholder=" "
              <% if(data) { %> value="<%= data[2] %>" <% } else { %> value = "" <%};%> >
            <label for="correo" class="form_label">
              Correo
            </label>
          </div>
          <div class="input_group media_columna m_right_form">
            <input type="tel" name="telefono" id="telefono" required placeholder=" "
              onkeydown="javascript:backspacerDOWN(this,event);" 
              onkeyup="javascript:backspacerUP(this,event);" minlength="14" maxlength="14"
              <% if(data) { %> value="<%= data[3] %>" <% } else { %> value = "" <%};%> >
            <label for="telefono" class="form_label">
                  Teléfono
              </label>
          </div>
          <div class="input_group media_columna">
            <input type="number" name="edad" id="edad" min="1" required placeholder=" "
              <% if(data) { %> value="<%= data[4] %>" <% } else { %>  <%};%> >
            <label for="edad" class="form_label">
              Edad
            </label>
          </div>
          <div class="input_group radio_group" id="genero">
            <p class="input_title">Sexo</p>
            <section>
              <div>
                <input type="radio" name="sexo" value="M" id="hombre"
                  <% if(data == null || data[5] == 'M') {%> checked <%}%> >
                <label for="hombre" class="radio_label">
                  Hombre
                </label>
              </div>
              <div>
                <input type="radio" name="sexo" id="mujer" value="F"
                  <% if(data != null && data[5] == 'F') {%> checked <%}%> >
                <label for="mujer" class="radio_label">
                  Mujer
                </label>
              </div>
            </section>
          </div>
          <div class="input_group media_columna m_right_form">
            <input type="text" name="carrera" id="carrera" required placeholder=" "
              <% if(data) { %> value="<%= data[7] %>" <% } else { %> value = "" <%};%> >
            <label for="carrera" class="form_label">
                Carrera
            </label>
          </div>
          <div class="input_group media_columna select_group">
            <select id="campus" name="campus">
              <option value="0" disabled  <% if(data == null) { %> selected <% } %> >Selecciona</option>
              <option value="Preparatoria" <% if(data != null && data[7] == 'Preparatoria') { %> selected <% } %> >Preparatoria</option>
              <option value="CetysMxl" <% if(data != null && data[7] == 'CetysMxl') { %> selected <% } %> >Cetys Mexicali</option>
              <option value="CetysTj" <% if(data != null && data[7] == 'CetysTj') { %> selected <% } %> >Cetys Tijuana</option>
              <option value="CetysEns" <% if(data != null && data[7] == 'CetysEns') { %> selected <% } %> >Cetys Ensenada</option>
              <option value="Otro" <% if(data != null && data[7] == 'Otro') { %> selected <% } %> >Otro</option>
            </select>
            <p>Campus</p>
          </div>
          <div class="input_group media_columna m_right_form select_group">
            <select id="semestre" name="sem">
              <option value="0" disabled <% if(data == null) { %> selected <% } %> >Selecciona</option>
              <option value="1" <% if(data != null && data[8] == '1') { %> selected <% } %> >Primero</option>
              <option value="2" <% if(data != null && data[8] == '2') { %> selected <% } %> >Segundo</option>
              <option value="3" <% if(data != null && data[8] == '3') { %> selected <% } %> >Tercero</option>
              <option value="4" <% if(data != null && data[8] == '4') { %> selected <% } %> >Cuarto</option>
              <option value="5" <% if(data != null && data[8] == '5') { %> selected <% } %> >Quinto</option>
              <option value="6" <% if(data != null && data[8] == '6') { %> selected <% } %> >Sexto</option>
              <option value="7" <% if(data != null && data[8] == '7') { %> selected <% } %> >Septimo</option>
              <option value="8" <% if(data != null && data[8] == '8') { %> selected <% } %> >Octavo</option>
            </select>
            <p>Semestre</p>
          </div>
          <div class="input_group media_columna select_group">
            <select id="talla" name="talla">
              <option value="0" disabled <% if(data == null) { %> selected <% } %> >Selecciona</option>
              <option value="XS" <% if(data != null && data[9] == 'XS') { %> selected <% } %> >XS</option>
              <option value="S" <% if(data != null && data[9] == 'S') { %> selected <% } %> >S</option>
              <option value="M" <% if(data != null && data[9] == 'M') { %> selected <% } %> >M</option>
              <option value="L" <% if(data != null && data[9] == 'L') { %> selected <% } %> >L</option>
              <option value="XL" <% if(data != null && data[9] == 'XL') { %> selected <% } %> >XL</option>
              <option value="XXL" <% if(data != null && data[9] == 'XXL') { %> selected <% } %> >XXL</option>
            </select>
            <p>Talla</p>
          </div>
          <div class="input_group">
            <input type="text" name="alergias" id="alergias" placeholder="" <% if(data) { %> value="<%= data[11] %>" <% } else { %> value = "" <%};%>">
            <label for="name" class="form_label">
              ¿Tienes Alergias?
            </label>
          </div>
          <div class="input_group radio_group" id="vegetariano">
            <p class="input_title">¿Eres Vegetariano?</p>
            <section>
              <div>
                <input type="radio" name="veget" id="No_Vegetariano" value="No" 
                  <% if(data == null || data[10] == 'No') {%> checked <%}%> >
                <label for="No_Vegetariano" class="radio_label">
                  No
                </label>
              </div>
              <div>
                <input type="radio" name="veget" value="Si" id="Si_Vegetariano"
                  <% if(data != null && data[10] == 'Si') {%> checked <%}%> >
                <label for="Si_Vegetariano" class="radio_label">
                  Sí
                </label>
              </div>
            </section>
          </div>
        </div>
        <h1>Método de Pago</h1>
        <h3>Elige la opción de pago adecuada para ti.</h3>
        <div class="payment_group">
          <h3>
            Paga con:
          </h3>
          <div class="input_group radio_group" id="tipo_pago">
            <section>
              <div class="paybox">
                <input type="radio" name="tipo" value="dep/efec" id="dep/efec"
                  <% if(data == null || data[12] == 'dep/efec') {%> checked <%}%> >
                <label for="dep/efec" class="radio_label">
                  Deposito/Efectivo
                </label>
              </div>
              <h3>ó</h3>
              <div class="paybox">
                <input type="radio" name="tipo" id="paypal" value="paypal"
                  <% if(data != null && data[12] == 'paypal') {%> checked <%}%> >
                <label for="paypal" class="radio_label">
                  <img src="/images/SVG/paypal.svg" alt="paypal" id="paypal_image">
                </label>
              </div>
            </section>
          </div>
        </div>
      </section>
      <div class="cart_section">
        <aside id="shopping_cart">
          <article class="shopping_info">
            <h1>Carrito</h1>
            <section>
              <div class="shopping_data">
                <h3>1 x</h3>
              </div>
              <div class="shopping_data">
                <h3>Carnet de participante</h3>
                <h3>Trascendencias 2020</h3>
                <h3>$950.00 MXN</h3>
              </div>
            </section>
            <div class="shopping_total">
                <h2>Total</h2>
                <h3>$950.00 MXN</h3>
              </div>
          </article>
          <div class="shopping_options">
            <a href="/">
              Cancelar
            </a>
            <button type="submit" class="button" value="Continuar">
              Continuar
            </button>
          </div>
        </aside>
        <div id="box"></div>
      </div>
      <section class="shopping_total_mobile">
        <div>
          <h2>Total</h2>
          <h3>$950.00 MXN</h3>
        </div>
        <div class="shopping_options">
            <a href="/">
              Cancelar
            </a>
            <button type="submit" class="button" value="Continuar">
              Continuar
            </button>
          </div>
      </section>
    </div>
  </div>
</form>
<script src="/js/functions-register.js"></script>
<%- include('partials/_footer') -%>