@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');

* {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}

html,
body {
    display: flex;
    margin: 0;
    max-width: 100%;
    padding: 0;
    position: relative;
    width: 100%;
}

h1,
h3 {
    color: #21BF7F;
}

h2 {
    color: #333333;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mayusculas {
    text-transform: capitalize; 
}

.width-100 {
    width: 100%;
}

.spacer {
    position: relative;
    width: 110px;
    height: 100vh;
    z-index: 1;
}

nav {
    background-color: #ffffff;
    background-image: linear-gradient(to bottom, #DDE300 0%, #00B96A 30%, #24B278 100%);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    max-height: 100vh;
    width: 110px;
    position: fixed;
    z-index: 20;
}

.nav-outer {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    margin: 30px 0;
    width: 100%;
}

.nav-outer:first-child {
    margin-top: 50px;
}

.nav-outer:last-child {
    margin-bottom: 50px;
}

.nav-center {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-evenly;
    width: 100%;
}

.nav-target {
    position: relative;
    z-index: 100;
}

.nav-button {
    align-items: center;
    border-radius: 15px;
    border: solid 2px #ffffff;
    display: flex;
    height: 60px;
    justify-content: center;
    transition: all .2s ease;
    width: 60px;
    transform: scale(1);
    z-index: 1;
}

.nav-button.active {
    background-color: #ffffff;
}

.nav-button.active .nav-svg {
    fill: #00B96A;
}

.nav-button:hover {
    transform: scale(1.15);
    background-color: #ffffff;
}

.nav-button.active:hover {
    transform: scale(1);
}

.logo-nav {
    fill: #ffffff;
    height: 65px;
    position: relative;
    width: 65px;
}

.nav-svg {
    fill: #ffffff;
    height: 35px;
    position: relative;
    transition: all .35s ease;
    width: 35px;
    z-index: 1;
}

.nav-svg.participante {
    height: 40px;
    width: 40px;
}

.nav-svg.logout {
    height: 30px;
    width: 30px;
}

.nav-button:hover .nav-svg {
    fill: #00B96A;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/*///////////////////////////////////// D A S H B O A R D ////////////////////////////////////////*/

.dashboard,
.participants {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 1300px;
}

/* .dashboard > * {
    border: 1px solid #cccccc
} */

.header {
    align-items: flex-end;
    display: flex;
    height: 170px;
    width: 100%;
}

.header-title {
    font-size: 42px;
    margin: 40px 0;
}

.main-dashboard,
.main-list {
    height: 680px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.main-list {
    flex-wrap: nowrap;
}

.dash-data {
    background-color: #ffffff;
    -webkit-box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.42);
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.42);
    border-radius: 15px;
    margin-bottom: 35px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.data-long {
    width: 40%;
}

.data-short {
    width: 25%;
}

[data-dashboard="registrados"]{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

[data-dashboard="registro-campus"]{
    height: 400px;
}

[data-dashboard="ingresos"]{
    height: 120px;
}

[data-dashboard="tallas"]{
    height: 480px;   
}

[data-dashboard="regimen-alimenticio"]{
    height: 200px;
}

[data-dashboard="tiempo"]{
    height: 120px;
}

.data-content {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.green-line {
    border-bottom: solid 1px #21BF7F;
}

.data-content > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 5px;
}

.data-content > div > div{
    display: flex;
    align-items: center;
}

.icon-circle {
    width: 60px;
    height: 60px;
    background-color: #DCEEE8;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
}

.icon-circle > * {
    width: 40px;
    height: 40px;
    fill: #21BF7F;
}

.data-content h1 {
    font-size: 60px;
    margin: 0;
    line-height: 50px;
}

.data-liquidados {
    margin-top: 10px;
}

.data-liquidados h2,
.data-liquidados p {
    margin: 0;
}

.data-liquidados > div {
    display: flex;
    position: relative;
}

.icon-check-mark {
    display: inline-block;
    background-color: #21BF7F;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    position: relative;
    margin-right: 7px;
}

.icon-check-mark::before {
    content: '';
    width: 7px;
    height: 3px;
    background-color: #ffffff;
    transform: rotateZ(45deg);
    left: 6px;
    top: 14px;
    position: absolute;
}

.icon-check-mark::after {
    content: '';
    width: 11px;
    height: 3px;
    background-color: #ffffff;
    transform: rotateZ(-45deg);
    left: 10px;
    top: 11px;
    position: absolute;
}

.table-row {
padding-top: 5px;
}

.table-title {
    margin: 0;
    padding-bottom: 20px;
    font-size: 21px;
}

[data-dashboard="tallas"] .data-content {
    width: 70%;
}

[data-dashboard="ingresos"] .data-content {
    flex-direction: row;
}

.data-content .ingresos {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    justify-content: center;
}

.data-content .ingresos-icon {
    width: auto;
}

.ingresos p,
.ingresos h3 {
    text-align: right;
    margin: 0;
}

.ingresos h3 {
    font-size: 21px;
}

.vegetarianos {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.vegetarianos article {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 30px;
}

.vegetarianos article h2 {
    margin: 0;
    font-size: 46px;
    line-height: 30px;
}

.vegetarianos article p {
    margin: 10px 0 0;
}

.dash-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.time_dashboard {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    list-style-type: none;
    text-transform: uppercase;
    width: 25%;
}

.time_dashboard span {
    font-size: 26px;
    color: #00B96A;
    font-weight: 600;
}

/*///////////////////////////////////// P A R T I C I P A N T E S ////////////////////////////////////////*/

.list-participants,
.list-activities,
.open-single {
    width: 100%;
    display: flex;
}

.list-participants p,
.list-activities p {
    color: #00B96A;
    font-weight: 500;
    font-size: 18px;
    margin: 5px 0 20px;
}

.list-participants p:nth-child(1),
.data-row.people p:nth-child(1) {
    width: 40%;
    padding-left: 30px;
}

.list-participants p:nth-child(2),
.data-row.people p:nth-child(2) {
    width: 35%;
    padding-left: 30px;
}

.data-row {
    background-color: #ffffff;
    -webkit-box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.42);
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.42);
    border-radius: 15px;
    margin-bottom: 25px;
    position: relative;
    display: flex;
    width: 100%;
    transform: scale(1);
    transition: all .2s ease;
    height: 60px;
}

.data-row:hover {
    transform: scale(1.035);
    background-image: linear-gradient(to left, #DDE300 0%, #00B96A 30%, #24B278 100%);
}

.data-row:hover p {
    color: #ffffff !important;
}

.data-row:last-child {
    margin-bottom: 150px;
}

.Pendiente {
    color: #ED1C24;
}

.Abono {
    color: #0982C6;
}

.Pagado {
    color: rgb(20, 189, 121);
}

/*////////////////////////// S I N G L E - V I E W - P A R T I C I P A N T ///////////////////////////*/

.single-participant {
    background-color: #ffffff;
    -webkit-box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.42);
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.42);
    border-radius: 15px;
    margin-bottom: 35px;
    position: relative;
    display: flex;
    width: 100%;
    padding: 0;
    max-width: 100%;
}

.participant {
    display: flex;
    width: 35%;
}

form {
    width: 65%;
    display: flex;
    justify-content: space-between;
}

.info-column-1,
.info-column-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 40px;
    padding-top: 50px;
}

.info-column-2 {
    width: 40%;
    margin-left: 20px;
}

.info-column-2 > p {
    margin: 0 0 10px;
}

.header-participant {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header-participant > h2 {
    font-size: 35px;
    margin: 0 0 10px;
    line-height: 38px;
    width: 100%;
}

.header-participant > article {
    display: flex;
}

.header-participant p {
    margin: 0;
    display: flex;
    align-items: center;
}

.header-participant .Abono,
.header-participant .Pagado,
.header-participant .Pendiente {
    font-weight: 600;
}

.header-participant .Abono::before,
.header-participant .Pagado::before,
.header-participant .Pendiente::before {
    content: '';
    display: inline-flex;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: relative;
    margin: 0 3px 0 12px;
}

.header-participant .Abono::before {
    background-color: #0982C6;
}

.header-participant .Pagado::before {
    background-color: #14BD79;
}

.header-participant .Pendiente::before {
    background-color: #ED1C24;
}

.info-participant-list {
    list-style-type: none;
    margin: 30px 0 10px;
    padding-left: 0;
}

li {
    display: flex;
}

li p {
    margin: 8px 0;
}

li p:last-child {
    font-weight: 600;
    margin-left: 8px;
}

.contact-participant,
.pay-participant {
    background-color: #ffffff;
    -webkit-box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.42);
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.42);
    border-radius: 15px;
    margin-bottom: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px 0;
}

.pay-participant {
    padding: 22px 0 30px;
}

.contact-participant > div {
    display: flex;
    flex-direction: column;
    margin: 8px 0 8px 30px;
}

.contact-participant > div > p,
.pay-participant > div > p {
    margin: 0 0 5px;
}

.contact-participant > div > p:last-child {
    font-weight: 600;
}

.pay-participant > h2 {
    font-size: 21px;
    margin: 0 0 5px 30px;
    text-transform: capitalize; 
}

.flex {
    display: flex;
}

.last-update {
    margin-bottom: 20px;
}

#date {
    color: #21BF7F;
    margin-left: 10px;
    font-weight: 600;
}

.payment {
    -webkit-appearance: none;
    appearance: none;
}

.quantity {
    position: relative;
    margin-bottom: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]
{
    -moz-appearance: textfield;
}

.quantity input {
    border: 1px solid #333333;
    color: #21BF7F;
    display: flex;
    justify-content: flex-end;
    float: left;
    font-size: 21px;
    height: 42px;
    line-height: 1.65;
    margin: 0;
    padding: 0;
    padding-right: 30px;
    width: 75%;
    text-align: right;
    border-radius: 10px;
}

.quantity::before {
    content: '$';
    position: absolute;
    color: #21BF7F;
    left: 20px;
    top: 9px;
    font-size: 21px;
}

.payment-left-margin {
    margin-left: 30px;
}

.payment-bottom-margin {
    margin-bottom: 12px;
}

.activities-participant {
    margin: 0 50px 0 0;
    padding: 50px 0 0 50px;
    width: 40%;
    border-left: solid 1px #21BF7F;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activities-participant h1 {
    font-size: 24px;
    margin: 5px 0 10px;
}

.activities-participant p {
    font-size: 18px;
    margin-bottom: 5px;
}

select {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    color: #333333;
    border: solid 1px #333333;
    border-radius: 10px;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff;
    font-size: 18px;
    background-image: url(../images/staff/SVG/drop.svg);
    background-position: right 20px top 50%;
    background-repeat: no-repeat;
    background-size: 25px;
    margin-bottom: 10px;
}

select:disabled {
    opacity: .5;
}

.button {
    color: #ffffff !important;
    align-items: center;
    background-image: linear-gradient(to right, #DDE300 0%, #00B96A 50%, #00B96A 100%);
    background-size: 200% auto;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    justify-content: center;
    width: 200px;
    padding: 11px 10px;
    text-align: center;
    transition: 0.5s;
}

.button:hover {
    background-position: right center;
}

.disabled,
:disabled {
    pointer-events: none;
    opacity: .5;
}

input::placeholder {
    color: #21BF7F;
}

#save_changes {
    align-self: flex-end;
    margin: 100px 0 50px;
}

/*///////////////////////////////////// A C T I V I D A D E S ////////////////////////////////////////*/
.open-single {
    width: 90%;
}

.options {
    justify-content: space-between;
}

.filter {
    padding: 10px 75px 10px 20px;
    margin: 25px 0;
}

.disponible {
    color: #0982C6;
}

.lleno {
    color: #ED1C24;
}

.list-activities p:nth-child(1),
.data-row.activity p:nth-child(1) {
    width: 50%;
    padding-left: 30px;
}

.list-activities p:nth-child(2),
.list-activities p:nth-child(3) {
    width: 25%;
    padding-left: 30px;
}

.data-row.activity p:nth-child(2),
.data-row.activity p:nth-child(3)  {
    width: 26%;
}

.list-activities p:nth-child(4),
.data-row.activity p:nth-child(4) {
    text-align: center;
    width: 20%;
    padding-left: 30px;
}

.download-list {
    width: 16%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-icon {
    fill: rgb(20, 189, 121);
    width: 30px;
    height: 30px;
    position: relative;
}

.download-icon:hover {
    animation-name: tilt;
}

@keyframes tilt {
    from {
        top: 10px;
    }
    top {
        top: -10px;
    }
}

.data-row:hover .download-icon {
    fill: #ffffff;
}

.hide {
    display: none;
}

/*///////////////////////////////////// D R O P - D O W N ////////////////////////////////////////*/

.dropdown {
    appearance: none;
    background-color: #ffffff;
    background-image: url(../images/staff/SVG/drop.svg);
    background-position: right 20px top 50%;
    background-repeat: no-repeat;
    background-size: 25px;
    border-radius: 10px;
    border: solid 1px #333333;
    box-shadow: none;
    color: #333333;
    font-size: 18px;
    margin: 0;
    margin-bottom: 30px;
    outline: 0;
    padding: 10px 20px;
    position: relative;
    width: 150px;
  }
  .dropdown .select {
      cursor: pointer;
      display: block;
  }

  .dropdown:active {
      background-color: #f8f8f8
  }
  .dropdown.active:hover {
      background-color: #f8f8f8
  }

  .dropdown .dropdown-menu {
      position: absolute;
      background-color: #fff;
      width: 100%;
      left: 0;
      margin-top: 1px;
      box-shadow: 0 1px 2px rgb(204, 204, 204);
      border-radius: 0 1px 5px 5px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 0px;
      overflow-y: auto;
      z-index: 9;
      padding: 0;
      list-style: none;
      transition: all .3s ease;
  }
  .dropdown .dropdown-menu a {
      padding: 10px;
      transition: all .2s ease-in-out;
      cursor: pointer;
  } 
  .dropdown .dropdown-menu.active {
      height: 100px;
  }
  .dropdown .dropdown-menu a:hover {
      background-color: #f2f2f2;
  }
  .dropdown .dropdown-menu a:active {
      background-color: #e2e2e2;
  }

/*//////////////////////////////////// M E N S A J E S ///////////////////////////////////////*/
.message-container {
    position: fixed;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 15px 0 30px;
}

.success {
    align-items: center;
    animation-duration: 3s;
    animation-name: entrance-message;
    background-color: #24B278;
    border-radius: 25px;
    color: #ffffff;
    display: flex;
    font-size: 14px;
    height: 10px;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 10px;
    top: -70px;
    opacity: 1;
    overflow: hidden;
    animation-timing-function: ease;
    transform-origin: center;
}

@keyframes entrance-message {
    0%   {
        top: -70px;
        height: 10px;
        width: 10px;
        opacity: 0;
        color: #24B278;
    }
    11.25% {
        top: 30px;
    }
    18.75% {
        top: 30px;
        width: 50px;
        height: 50px;
    }
    22.5% {
        top: 0;
    }
    26.25% {
        color: #24B278;
    }
    30%  {
        opacity: 1;
        width: 300px;
        height: 50px;
        top: 0;
    }
    37.5% {
        color: #ffffff;
    }
    62.5% {
        color: #ffffff;
    }
    70%  {
        opacity: 1;
        width: 300px;
        height: 50px;
        top: 0;
    }
    73.75% {
        color: #24B278;
    }
    77.5% {
        top: 0;
    }
    81.25% {
        top: 30px;
        width: 50px;
        height: 50px;
    }
    88.75% {
        top: 30px;
    }
    100%   {
        top: -70px;
        height: 10px;
        width: 10px;
        opacity: 0;
        color: #24B278;
    }
}


/*///////////////////////////////////// Q U E R I E S ////////////////////////////////////////*/
@media screen and (max-width: 470px) {}

@media screen and (min-width: 471px) and (max-width: 650px) {}

@media screen and (min-width: 651px) and (max-width: 850px) {

}

@media screen and (min-width: 851px) and (max-width: 1024px) {
    
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    nav {
        width: 90px !important;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1500px) {
    nav {
        width: 90px;
    }

    /*///////////////D A S H B O A R D////////////////////*/
    .dashboard,
    .participants {
        transform: scale(0.9);
    }

    .header {
        align-items: flex-end;
        display: flex;
        height: 100px;
        width: 100%;
    }
    
    .header-title {
        font-size: 42px;
        margin: 25px 0;
    }
}