<footer class="flex flex-column max-width">
    <section class="width-100 flex">
      <div class="flex-column">
        <h2>Te Esperamos</h2>
        <p>
            En esta trigesima sexta entrega del congreso Trascendencias
            buscamos seguir inspirando a las mentes jóvenes de la región
            en el ámbito de la ingeniería, promoviendo la innovación.
        </p>
        <a href="registro" class="button">
          Adquiere tu carnet
        </a>
      </div>
      <div>
        <article>
          <h2>¿Quieres patrocinar?</h2>
          <a a href="mailto:registrotrsc2019@gmail.com?Subject=Patrocinio"
            target="_top">
            Contáctanos
          </a>
        </article>
        <article>
          <h2>Síguenos en</h2>
          <a href="https://www.facebook.com/trascendencias/" target="_blank">Facebook</a>
          <a href="https://www.instagram.com/trascendenciascetys/" target="_blank">Instagram</a>
        </article>
      </div>
    </section>
    <section class="flex width-100">
      <p>Trascendencias 2020</p>
      <p>El Mundo es Nuestro</p>
    </section>
  </footer>
</main>
<script src="/js/functions.js"></script>
</body>
</html>