<nav class="nav" id="navBar">
    <section>
    <a href="/">TRSC.</a>
    </section>
    <section>
        <a href="/">Inicio</a>
        <a href="actividades">Actividades</a>
        <a href="registro" class="button">
        Regístrate
        </a>
    <div id="burger-menu">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    </section>
  </nav>
  <div id="menu-display">
    <a href="/">Inicio</a>
    <a href="/actividades">Actividades</a>
    <a href="/registro" class="button">
        Regístrate
    </a>
  </div>
  <div class="spacer-1"></div>